.links_menu{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px;
}
.links_menu li a{
    font-weight: 600;
}
.icon_menu{
    display: none;
}
.hero_title{
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff; 
    transition: 2s;
}
.hero_title:hover{
    -webkit-text-stroke:2px #fff; 
    color: transparent;
    letter-spacing: 5px;
}
/*--GENERALES--*/

.mujeres_cards{
    flex-direction: row;
}
.mejeres_links{
    width: 30%;
}
/*----Salud----*/
.container_saluddelapiel{
    flex-direction:column;
}
